################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fis_Ama_EsgAnalytics/.vs/Fis_Ama_EsgAnalytics/v16/Server/sqlite3
/Fis_Ama_EsgAnalytics/.vs/Fis_Ama_EsgAnalytics/DesignTimeBuild
