<div>
  <!--<router-outlet></router-outlet>-->
  <!--<app-esg-gauge></app-esg-gauge>-->
  <mat-card fxLayout="column" class="global-search-container">
    <div fxLayoutAlign="center center" class="box-container">
      <mat-form-field class="search-field-full-width" appearance="outline">
        <mat-label>Search Companies</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <!--<mat-card class="box-container" style="height:100px;border:2px solid red">

    </mat-card>
    <mat-card class="box-container" style="height:100px;border:2px solid red">

    </mat-card>-->
    <app-company-esg-info></app-company-esg-info>
  </mat-card>
</div>
