<form class="example-form">
  <mat-card fxLayout="column" class="global-search-container">
    <div fxLayoutAlign="center center" class="box-container">
      <mat-form-field class="search-field-full-width" appearance="outline">
        <mat-label>Search Companies</mat-label>
        <input type="text" matInput
               aria-label="Number"
               [(ngModel)]="companyNameSelected"
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="optionselected($event)">
          <mat-option *ngFor="let company of companies" [value]="company.companyName">
            {{company.companyName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!--<label>{{companyNameSelected}}</label>-->
    <router-outlet></router-outlet>
  </mat-card>
</form>
