<form class="example-form">
  <!--<router-outlet></router-outlet>-->
  <!--<app-esg-gauge></app-esg-gauge>-->
  <mat-card fxLayout="column" class="global-search-container">
    <div fxLayoutAlign="center center" class="box-container">
      <mat-form-field class="search-field-full-width" appearance="outline">
        <mat-label>Search Companies</mat-label>
        <input type="text"               
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let company of companies" [value]="company.companyName">
            {{company.companyName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!--<mat-card class="box-container" style="height:100px;border:2px solid red">

    </mat-card>
    <mat-card class="box-container" style="height:100px;border:2px solid red">

    </mat-card>-->
    <!--<app-company-esg-info [companySelected]="companySelected"></app-company-esg-info>-->
    <router-outlet></router-outlet>
  </mat-card>
</form>
