.compare-esg-score-content {
  box-shadow: none;
}
  .compare-esg-score-content td {
      padding:12px;
  }

  th {
    padding: 20px;
    margin: 20px;
  }

td {
  padding: 5px;
  margin: 10px;
}

.factor {
  color: lightseagreen;
  font-weight: bold;
  font-size: 15px;
}
