<mat-card class="compare-esg-score-content">
  <mat-card-header fxLayoutAlign="start center" style="background-color: cadetblue;">
    <mat-card-title>
      <span style="color:white; font-size:20px; font-weight:bold;">Applicable Goal Component Scores</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card>
      <span class="factor">Goals : Description</span>
      <table *ngIf="companyData1.sector.sectorId == 1">
        <tr *ngFor="let goal of pharmaGoals">
          <th>{{goal.sdg_Goal_Description.sdg_Goal.sdgGoalName}} : {{goal.sdg_Goal_Description.sdgGoalDescriptionName}}</th>
        </tr>
      </table>
      <table *ngIf="companyData1.sector.sectorId == 2">
        <tr *ngFor="let goal of softwareGoals">
          <th>{{goal.sdg_Goal_Description.sdg_Goal.sdgGoalName}} : {{goal.sdg_Goal_Description.sdgGoalDescriptionName}}</th>
        </tr>
      </table>
      <table *ngIf="companyData1.sector.sectorId == 5">
        <tr *ngFor="let goal of manufacturingGoals">
          <th>{{goal.sdg_Goal_Description.sdg_Goal.sdgGoalName}} : {{goal.sdg_Goal_Description.sdgGoalDescriptionName}}</th>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <span class="factor">{{companyData1.company.companyName}}</span>
      <table>
        <tr *ngFor="let rating of company1ParamRating">
          <td><img src="{{pickColor(rating.score)}}" /></td>
          <td>{{pickRating(rating.score)}}</td>
          <td>{{rating.score | number : '1.0-2'}}</td>
          <!--<td>{{rating.score | number : '1.0-2'}}/{{rating.total}}</td>-->
        </tr>
      </table>
    </mat-card>
    <mat-card>
      <span class="factor">{{companyData2.company.companyName}}</span>
      <table>
        <tr *ngFor="let rating of company2ParamRating">
          <td><img src="{{pickColor(rating.score)}}" /></td>
          <td>{{pickRating(rating.score)}}</td>
          <td>{{rating.score | number : '1.0-2'}}</td>
          <!--<td>{{rating.score | number : '1.0-2'}}/{{rating.total}}</td>-->
        </tr>
      </table>
    </mat-card>
    <mat-card>
      <span class="factor">{{companyData3.company.companyName}}</span>
      <table>
        <tr *ngFor="let rating of company3ParamRating">
          <td><img src="{{pickColor(rating.score)}}" /></td>
          <td>{{pickRating(rating.score)}}</td>
          <td>{{rating.score | number : '1.0-2'}}</td>
          <!--<td>{{rating.score | number : '1.0-2'}}/{{rating.total}}</td>-->
        </tr>
      </table>
    </mat-card>
  </mat-card-content>
</mat-card>
