<mat-card class="compare-esg-score-content">
  <mat-card-header>
    <mat-card-title>
      Component Scores
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card>
      <span class="factor">Goals</span>
      <table>
        <tr>
          <th></th>
          <th>Goal 1</th>
        </tr>
        <tr>
          <th></th>
          <th>Goal 2</th>
        </tr>
        <tr>
          <th></th>
          <th>Goal 3</th>
        </tr>
        <tr>
          <th></th>
          <th>Goal 4</th>
        </tr>
        <tr>
          <th></th>
          <th>Goal 5</th>
        </tr>
        <tr>
          <th></th>
          <th>Goal 6</th>
        </tr>
        <tr>
          <th></th>
          <th>Goal 7</th>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <span class="factor">Lupin</span>
      <table>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <!--board: number;
    transparencyAndReporting: number;
    leadershipEthics: number;
    structureAndOversights: number;
    codeAndValues: number;
    cyberrisksAndSystems: number;
    generalFactors: number;-->
      <span class="factor">Sun Pharma</span>
      <table>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
      </table>
    </mat-card>
    <mat-card>
      <!--board: number;
    transparencyAndReporting: number;
    leadershipEthics: number;
    structureAndOversights: number;
    codeAndValues: number;
    cyberrisksAndSystems: number;
    generalFactors: number;-->
      <span class="factor">Cipla</span>
      <table>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Good</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Strong</td>
          <td>56/100</td>
        </tr>
      </table>
    </mat-card>
  </mat-card-content>
</mat-card>
