<!--<p>{{companyData.companyData.company.companyName}} is being edited.</p>-->

<mat-card *ngIf="companyDetailsData">
  <!--<mat-card-title>Edit Data for Company : {{companyDetailsData.company.companyName | uppercase}}</mat-card-title>-->
  <mat-card-subtitle>(Assume this rating comes from ML/AI/NLP Engine.) </mat-card-subtitle>
  <mat-card-content fxLayout="row " fxLayoutAlign="center">
    <mat-card style="background-color:seashell;width:90%">
      <mat-card-title style="color:blue;">Edit Data For : {{companyDetailsData.company.companyName | uppercase}}</mat-card-title>
      <!--<mat-card-subtitle style="color:gray; font-weight:bold;">(MSCI/CSRHUB/S&P500)</mat-card-subtitle>-->
      <mat-card-content *ngIf="companyDetailsData.sector.sectorId === 1">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr style="background-color:cadetblue; font-size:15px;">
              <th *ngFor="let head of headElements" scope="col">{{head}}</th>
            </tr>
            <tr *ngFor="let parameter of pharmaParams">
              <td style="font-weight:bold;vertical-align:middle;">{{parameter.sdg_Goal_Description.sdgGoalDescriptionName}}</td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[1]"
                                            [ratingValue]="getRatingValue(headElements[1],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[1],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[2]"
                                            [ratingValue]="getRatingValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[3]"
                                            [ratingValue]="getRatingValue(headElements[3],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray;">
                Input E-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray;">
                Input S-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray; ">
                Input G-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-content *ngIf="companyDetailsData.sector.sectorId === 2">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr style="background-color:cadetblue; font-size:15px;">
              <th *ngFor="let head of headElements" scope="col">{{head}}</th>
            </tr>
            <tr *ngFor="let parameter of softwareParams">
              <td style="font-weight:bold;vertical-align:middle;">{{parameter.sdg_Goal_Description.sdgGoalDescriptionName}}</td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[1]"
                                            [ratingValue]="getRatingValue(headElements[1],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[1],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[2]"
                                            [ratingValue]="getRatingValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[3]"
                                            [ratingValue]="getRatingValue(headElements[3],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray; ">
                Input E-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray; ">
                Input S-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray; ">
                Input G-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-content *ngIf="companyDetailsData.sector.sectorId === 5">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr style="background-color:cadetblue; font-size:15px;">
              <th *ngFor="let head of headElements" scope="col">{{head}}</th>
            </tr>
            <tr *ngFor="let parameter of manufacturingParams">
              <td style="font-weight:bold;vertical-align:middle;">{{parameter.sdg_Goal_Description.sdgGoalDescriptionName}}</td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[1]"
                                            [ratingValue]="getRatingValue(headElements[1],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[1],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[2]"
                                            [ratingValue]="getRatingValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
              <td>
                <app-rating-score-drop-down [dataProvider]="headElements[3]"
                                            [ratingValue]="getRatingValue(headElements[3],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating)"
                                            (valueChanged)="updateChangedValue(headElements[2],parameter.sdg_Goal_Description.sdgGoalDescriptionName,companyDetailsData.parametersRating,$event)">
                </app-rating-score-drop-down>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray; ">
                Input E-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="e-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.e_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle; color:gray; ">
                Input S-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="s-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.s_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold;vertical-align:middle;color:gray; ">
                Input G-Score
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-0" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[0]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-1" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[1]">
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form>
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput type="number" name="g-score-2" placeholder="Enter Value" [(ngModel)]="companyDetailsData.g_sector_region_score[2]">
                  </mat-form-field>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn btn-primary" (click)="saveData()">Save</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>




