<!--<p>{{companyData.companyData.company.companyName}} is being edited.</p>-->

<mat-card>
  <mat-card-title>Edit Data for Company : {{companyData.companyData.company.companyName | uppercase}}</mat-card-title>
  <mat-card-subtitle>(Assuming this rating comes from ML/AI/NLP Engine) </mat-card-subtitle>
  <mat-card-content fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
    <mat-card style="background-color:silver;">
      <mat-card-title style="color:cadetblue;">Company : {{companyData.companyData.company.companyName | uppercase}}</mat-card-title>
      <mat-card-subtitle style="color:gray; font-weight:bold;">(MSCI/CSRHUB/S&P500)</mat-card-subtitle>
      <mat-card-content *ngIf="companyData.companyData.sector.sectorId === 1">
        <ul>
          <li>
            PHARMA
          </li>
        </ul>
      </mat-card-content>
      <mat-card-content *ngIf="companyData.companyData.sector.sectorId === 2">
        <ul >
          <li>
            SOFTWARE
          </li>
        </ul>
      </mat-card-content>
      <mat-card-content *ngIf="companyData.companyData.sector.sectorId === 5">
        <ul >
          <li>
            MANUFACTURING
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn btn-primary" (click)="Save()">Save</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>




