<mat-card>
  <mat-card-content fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card style="    padding: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: cadetblue
">
      <a style="color:white;" routerLink="/globalSearch/">Check ESG Score<span class="sr-only">(current)</span></a>
    </mat-card>
    <mat-card style="    padding: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: cadetblue
">
      <a style="color:white;" routerLink="/globalSearch/compareEsgInfo">Compare ESG Score</a>
    </mat-card>
    <mat-card style="    padding: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: cadetblue
">
      <a style="color:white;" routerLink="/setup/">Setup Data</a>
    </mat-card>
  </mat-card-content>
</mat-card>
