<mat-card class="company-esg-info">
  <mat-card-header fxLayoutAlign="start center" class="company-header">
    <mat-card-title>
      <h4>{{companySelected.companyName}}</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="20px" class="company-esg-info-content">
    <mat-card class="gauge-container">
      <app-company-esg-gauge-details [companySelected]="companySelected"></app-company-esg-gauge-details>
    </mat-card>
    <mat-card class="score-container">
      <app-company-score-details></app-company-score-details>
    </mat-card>
  </mat-card-content>
</mat-card>
