<mat-card class="company-esg-score-content">
  <mat-card-header>
    <mat-card-title>
      Component Scores
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayoutGap="20px">
    <mat-card>
      <!--energyAndClimateChange: number;
      environmentPolicyAndReporting: number;
      resourceManagement: number;
      greenhouseGases: number;
      waterResources: number;
      landUsage: number;
      wasteManagement: number;-->

      <span class="factor">ENVIRONNMENTAL PERFORMANCE</span>
      <table>
        <tr>
          <th></th>
          <th>Parameter</th>
          <th>Score</th>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Energy And Climate Change</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Environment Policy And Reporting</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Resource Management</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Greenhouse Gases</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Land Usage</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Waste Management</td>
          <td>50</td>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <!--safeManagement: number;
      workforceDiversity: number;
      customerEngagement: number;
      communities: number;
      humanRightAndSupplyChain: number;-->
      <span class="factor">SOCIAL PERFORMANCE</span>
      <table>
        <tr>
          <th></th>
          <th>Parameter</th>
          <th>Score</th>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Safe Management</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Workforce Diversity</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Customer Engagement</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Communities</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Human Right And Supply Chain</td>
          <td>50</td>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <!--board: number;
      transparencyAndReporting: number;
      leadershipEthics: number;
      structureAndOversights: number;
      codeAndValues: number;
      cyberrisksAndSystems: number;
      generalFactors: number;-->
      <span class="factor">GOVERNANCE PERFORMANCE</span>
      <table>
        <tr>
          <th></th>
          <th>Parameter</th>
          <th>Score</th>
        </tr>
        <tr>
          <td><img src="assets/greendot.png"/></td>
          <td>Board</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Transparency And Reporting</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Leadership Ethics</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/reddot.png" /></td>
          <td>Structure And Oversights</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>Code And Values</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/yellowdot.png" /></td>
          <td>Cyber Risks And Systems</td>
          <td>50</td>
        </tr>
        <tr>
          <td><img src="assets/greendot.png" /></td>
          <td>General Factors</td>
          <td>50</td>
        </tr>
      </table>
    </mat-card>
  </mat-card-content>
</mat-card>
