.company-esg-score-content {
 box-shadow:none;
}

th {
  padding:20px;
  margin:20px;
}

td {
  padding: 10px;
  margin: 10px;
}

.factor{
  color:lightseagreen;
  font-weight:bold;
  font-size:15px;  
}
