<mat-card class="company-esg-score-content">  
  <mat-card-header fxLayoutAlign="start center" style="background-color:cadetblue;padding-top:10px;">
    <mat-card-title>
      <span style="color:white; font-size:20px; font-weight:bold;">Component / Parameter Scores</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card>
      <span class="factor">ENVIRONMENTAL PERFORMANCE</span>
      <table>
        <tr>
          <th></th>
          <th>Parameter</th>
          <th>Score</th>
          <th>Risk</th>
        </tr>
        <tr *ngFor="let item of availableFactorRatings(1)">
          <td><img src="{{pickColor(item.score)}}" /></td>
          <td>{{item.parameter}}</td>
          <td>{{item.score | number : '1.0-2'}}</td>
          <td>{{calculateRisk(item.score)}}</td>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <span class="factor">SOCIAL PERFORMANCE</span>
      <table>
        <tr>
          <th></th>
          <th>Parameter</th>
          <th>Score</th>
          <th>Risk</th>
        </tr>
        <tr *ngFor="let item of availableFactorRatings(2)">
          <td><img src="{{pickColor(item.score)}}" /></td>
          <td>{{item.parameter}}</td>
          <td>{{item.score | number : '1.0-2'}}</td>
          <td>{{calculateRisk(item.score)}}</td>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <span class="factor">GOVERNANCE PERFORMANCE</span>
      <table>
        <tr>
          <th></th>
          <th>Parameter</th>
          <th>Score</th>
          <th>Risk</th>
        </tr>
        <tr *ngFor="let item of availableFactorRatings(3)">
          <td><img src="{{pickColor(item.score)}}" /></td>
          <td>{{item.parameter}}</td>
          <td>{{item.score | number : '1.0-2'}}</td>
          <td>{{calculateRisk(item.score)}}</td>
        </tr>
      </table>
    </mat-card>
  </mat-card-content>
</mat-card>
