<mat-card class="full-height">
  <div fxLayout>
    <div style="padding-right:10px;">
      <button mat-button class="btn btn-info" style="border:1px solid blue" routerLink="parameters">ESG Parameters</button>
    </div>
    <div style="padding-right:10px;">
      <button mat-button class="btn btn-info" style="border:1px solid blue" routerLink="sectorwiseGoals">Sectorwise Weightage</button>
    </div>
    <div>
      <button mat-button class="btn btn-info" style="border:1px solid blue" routerLink="inputScore">Simulate Data</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</mat-card>

